body {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  align-items: center;
  height: 83px;
  background-color: rgb(233, 137, 137);
  padding: 10px;
}

.header-img {
  width: 10%;
  margin-left: 10px;
}

.header-title {
  margin-right: auto;
  margin-left: 20px;
  font-size: 30px;
}

.header-subtitle {
  margin-right: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.input {
  margin: 10px;
  max-width: 200px;
  padding: 5px;
}

button {
  cursor: pointer;
  padding: 4px;
  font-size: 25px;
}

.inputs {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.catImage {
  height: 300px;
  max-width: 340px;
  margin: 10px;
}
